{% extends "base.html" %}

{% block title %}{{ card_type.plural() }}{% endblock %}

{% block header %}
  <h2 class="text-secondary">{{ card_type.plural() }}</h2>
{% endblock %}

{% block body %}
  <h5><a href="{{ card_type.all_base_uri()|safe }}">All {{ card_type.plural() }}</a></h5>
  {% for (kind, tags) in tagdb.kind_index() %}
    <section>
      <h4><a name="{{ kind }}"></a>{{ kind|safe }}</h4>
      <p>
        {% for tag in tags %}
          {% if carddb.type_has_cards_of_tag(card_type, tag) %}
            <a href="tag-{{ tag.canonical_name()|safe }}.html{{ card_type.link_suffix()|safe }}" class="badge {{ tag.kind().class()|safe }} mtg-tag">{{ tag|safe }}</a>
          {% endif %}
        {% endfor %}
      </p>
    </section>
  {% endfor %}
{% endblock %}