<div class="card d-inline-flex border-0 m-2 mtg-card" {{ card.card().set_type.data_attribute()|safe }} {{ card.categories_data_attributes()|safe }} id="card{{ card.card().id|safe }}">
  <a name="{{ card.card().name }}"></a>
  <div class="mtg-card-img-container">
    <a href="{{ card.card().scryfall_uri|safe }}">
      <img src="{{ card.front_image_uri()|safe }}" class="front" loading="lazy" alt="{{ card.card().name }}">
      {% if card.back_image_uri().is_some() %}
        <img src="{{ card.back_image_uri().unwrap()|safe }}" class="back" loading="lazy" alt="{{ card.card().name }}">
      {% endif %}
    </a>
    {% if card.back_image_uri().is_some() %}
      <button type="button" class="mtg-transform-button" title="Transform" rel="nofollow" data-component="card-transform-button" data-target="#card{{ card.card().id|safe }} .mtg-card-img-container">
        <svg title="Transform">
          <use xlink:href="#shape-transform"/>
        </svg>
      </button>
    {% endif %}
  </div>
  <div class="card-body p-0">
    <h6 class="card-title">{{ card.card().name }}</h6>
    <p class="card-text">
      {% for cat in card.categories() %}
        <a href="{{ cat.base_uri()|safe }}" class="badge badge-pill badge-danger mtg-category">{{ cat.tag_name()|safe }}</a>
      {% endfor %}
      {% for tag in card.tags() %}
        {% include "tag.html" %}
      {% endfor %}
    </p>
  </div>
</div>