{% extends "base.html" %}

{% block title %}{{ card_type }}{% endblock %}

{% block header %}
  <h2 class="text-secondary">{{ card_type|safe }}</h2>
{% endblock %}

{% block body %}
  {% for (kind, tags) in tagdb.kind_index() %}
    <section>
      <h4><a name="{{ kind }}"></a>{{ kind|safe }}</h4>
      <p>
        {% for tag in tags %}
          {% if carddb.type_has_cards_of_tag(card_type, tag) %}
            <a href="tag-{{ tag.canonical_name()|safe }}.html?{{ card_type.show_only_filter_query()|safe }}" class="badge {{ tag.kind().class()|safe }} mtg-tag">{{ tag|safe }}</a>
          {% endif %}
        {% endfor %}
      </p>
    </section>
  {% endfor %}
{% endblock %}