{% extends "base.html" %}

{% block title %}{{ category }}{% endblock %}

{% block header %}
  <h2 class="text-secondary">{{ category|safe }}</h2>
{% endblock %}

{% block body %}
  {% for (kind, tags) in tagdb.kind_index() %}
    {% if tagdb.has_kind_tags_in_category(kind, category) %}
      <section>
        <h4><a name="{{ kind }}"></a>{{ kind|safe }}</h4>
        <p>
          {% for tag in tags %}
            {% if tag.has_category(self.category()) %}
              <a href="tag-{{ tag.canonical_name()|safe }}.html?{{ category.show_only_filter_query()|safe }}" class="badge {{ tag.kind().class()|safe }} mtg-tag">{{ tag|safe }}</a>
            {% endif %}
          {% endfor %}
        </p>
      </section>
    {% endif %}
  {% endfor %}
{% endblock %}