{% extends "base.html" %}

{% block title %}{{ category }}{% endblock %}

{% block header %}
  <h2 class="text-secondary">{{ category|safe }}</h2>
{% endblock %}

{% block body %}
  {% for (kind, tags) in tagdb.kind_index() %}
    {% if tagdb.has_kind_tags_in_category(kind, category) %}
      <section>
        <h4><a name="{{ kind }}"></a>{{ kind|safe }}</h4>
        <p>
          {% for tag in tags %}
            {% if tag.has_category(self.category()) %}
              {% include "tag.html" %}
            {% endif %}
          {% endfor %}
        </p>
      </section>
    {% endif %}
  {% endfor %}
{% endblock %}