{% extends "base.html" %}

{% block title %}Card Types{% endblock %}

{% block body %}
  {% for card_type in card_types %}
    <section class="{{ card_type.filter_class()|safe }}">
      <h3><a name="{{ card_type }}"></a><a href="{{ card_type.base_uri() }}">{{ card_type|safe }}</a></h3>
      {% for (kind, tags) in tagdb.kind_index() %}
        <section>
          <h4><a name="{{ card_type }}-{{ kind }}"></a>{{ kind|safe }}</h4>
          <p>
          {% for tag in tags %}
            {% if carddb.type_has_cards_of_tag(card_type.clone(), tag) %}
              <a href="tag-{{ tag.canonical_name()|safe }}.html{{ card_type.link_suffix()|safe }}" class="badge {{ tag.kind().class()|safe }} mtg-tag">{{ tag|safe }}</a>
            {% endif %}
          {% endfor %}
          </p>
        </section>
      {% endfor %}
    </section>
  {% endfor %}
  <section>
    <h4><a name="Resources"></a>Deck-building Resources</h4>
    <ul>
      <li><a href="https://scryfall.com">Scryfall</a></li>
      <li><a href="https://edhrec.com">EDHREC</a></li>
      <li><a href="https://www.youtube.com/playlist?list=PLvqw7t0kbGX_tM4ESRbW20-cuBiRWDdGb">Tolarian College EDH Study Guides</a></li>
      <li><a href="https://www.mtggoldfish.com">MtG Goldfish</a></li>
    </ul>
  </section>
{% endblock %}